// colors

$primary-color-100: hsla(357, 100%, 21%, 1);
$primary-color-90: hsla(358, 100%, 13%, 1);
$primary-color-80: hsla(355, 100%, 29%, 1);
$primary-color-70: hsla(358, 81%, 45%, 1);
//$primary-color-60: hsla(0, 77%, 53%, 1);
$primary-color-60: rgba(255, 84, 75, 1);
$main-red: #ff0029;
$brown-dark: #3c2100;
$brown-medium: #7a4f4a;
$blue-powder: #9bcaf8;
$primary-color-50: hsla(3, 100%, 65%, 1);
$primary-color-40: hsla(5, 100%, 75%, 1);
$primary-color-30: hsla(6, 100%, 84%, 1);
$primary-color-20: hsla(6, 100%, 92%, 1);
$primary-color-10: hsla(9, 100%, 96%, 1);

$secondary-color-100: hsla(0, 0%, 9%, 1);
$secondary-color-90: hsla(0, 0%, 15%, 1);
$secondary-color-80: hsla(0, 0%, 22%, 1);
$secondary-color-70: hsla(0, 0%, 32%, 1);
$secondary-color-60: hsla(0, 0%, 44%, 1);
$secondary-color-50: hsla(0, 0%, 55%, 1);
$secondary-color-40: hsla(0, 0%, 66%, 1);
$secondary-color-30: hsla(0, 0%, 78%, 1);
$secondary-color-20: hsla(0, 0%, 88%, 1);
$secondary-color-10: hsla(0, 0%, 96%, 1);

$dark-color-1: rgba(46, 38, 61, 0.9);
$dark-color-2: rgb(82, 82, 82);
$dark-color-3: rgba(46, 38, 61, 0.7);
$dark-color-4: rgba(82, 82, 82, 1);
$dark-color-5: rgba(82, 82, 82, 0.16);
$dark-color-6: rgba(46, 38, 61, 0.08);
$dark-color-7: rgba(46, 38, 61, 0.04);
$dark-color-8: rgba(46, 38, 61, 0.22);
$dark-color-9: rgba(82, 82, 82, 0.08);
$alert-dark: hsla(6, 100%, 96%, 1);
$alert-base: hsla(0, 95%, 76%, 1);
$alert-light: hsl(359, 46%, 56%);

// $alert-dark: hsla(359, 46%, 56%, 1);
// $alert-base: hsla(0, 95%, 76%, 1);
// $alert-light: hsla(6, 100%, 96%, 1);

$success-dark: hsla(47, 100%, 87%, 1);
$success-base: hsl(95, 85%, 52%);
$success-light: hsla(68, 15%, 49%, 1);
$success-green: hsl(137, 90%, 35%);

$warning-dark: hsla(25, 100%, 94%, 1);
$warning-base: hsla(30, 83%, 59%, 1);
$warning-light: hsla(31, 66%, 49%, 1);

$info-dark: hsla(240, 100%, 97%, 1);
$info-base: hsla(228, 100%, 78%, 1);
$info-light: hsla(228, 48%, 57%, 1);

$custom-yellow-color: hsla(45, 100%, 63%, 1);
$custom-blue-color: #A5C3D2;
$link-blue-color: hsla(220, 100%, 50%, 1);
$main-blue: #16B1FF;
$main-green: rgba(16, 185, 129, 1);
$bg-green: rgba(16, 185, 129, 0.08);

$white: hsla(0, 0%, 100%, 1);
$border-color: rgba(45, 41, 38, 1);
$green-tooltip: rgba(16, 185, 129, 0.16);
$green-tooltip-accent: rgba(16, 185, 129, 1);
$custom-bg: #F6F7F1;
